.subProjetos{
    color: #ddd;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subProjetos ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subProjetos li{
    width: 20rem;
    height: 25rem;
    background-color: #555;
}
.subProjetos ul{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style-type: none;
}

.subProjetos_1{
    color: aliceblue;
}
.subProjetos_1 a{
    text-decoration: none;
}
.subProjetos_1 h5{
    font-size: 2rem;
    padding-top: 0.3rem;
    background-color: #666;
}
.subProjetos_1_LinkUm{
    color: aliceblue;
    font-size: 1.3rem;
    background-color: #333;
    transform: translateY(50%);
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-bottom-right-radius: 1.5rem;
}
.subProjetos_1_LinkUm:hover{
    box-shadow: inset 0 0 5px #000;
}
.subProjetos_1_Tecnologias{
    display: flex;
    transform: translate(55%, -117%);
    gap: 0.3rem;
}
.subProjetos_1_Tecnologias img:hover{
    scale: 1.1;
    transform: translate(0%, 0%);
}
.skillIMGSubProjeto{
    width: 2rem;
    height: 2rem;
    background-color: yellow;
    color: red;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.subProjetos_1 h3{
    font-size: 2.5rem;
}
.subProjetos_1_ImgSite{
    width: 100%;
    height: 15.9rem;
}
.subProjetos_1_WebSite{
    font-size: 1.3rem;
    text-decoration: none;
    width: 5rem;
    height: 5rem;
    background-color: #333;
    transform: translate(300%, -105%);
    border-top-left-radius: 5rem;
    display: flex;
    align-items: center;
    line-height: 1;
    text-align: center;
}
.subProjetos_1_WebSite:hover{
    box-shadow: inset 1px 1px 0 #000;
}
.subProjetos_1_LinkDois{
    text-decoration: none;
    color: aliceblue;
    margin-top: 1.5rem;
    margin-left: 0.7rem;

}
.subProjetos_1_FicharioLink{
    font-size: 1.5rem;
    transform: translate(0%, -300%);
    background-color: #333;
    width: 7rem;
    height: 2rem;
    padding-top: 0.5rem;
    border-top-right-radius: 8px;
    cursor: pointer;
}
.subProjetos_1_Fichario{
    position: absolute;
    height: 25.1rem;
    background-color: #777;
    transform: translate(0%, -130.5%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: width 2s ease, opacity 3s ease, visibility 3s ease;
}
.subProjetos_1_FicharioTabela{
    width: 18rem;
    margin: 1rem;
    height: 18rem;
    border-spacing: 0;
    border-radius: 1rem;
    color: #000;
    
}
.subProjetos_1_FicharioTabela th, .subProjetos_1_FicharioTabela td{
    border: 1px solid #dddddd;
    border: none; 
    
}
.subProjetos_1_FicharioTabela tr:nth-child(odd) {
    background-color: #f3f3f3; /* Linhas alternadas */
}
  
.subProjetos_1_FicharioTabela tr:nth-child(even) {
    background-color: #ffffff;
}
.subProjetos_1_FicharioTabelaTd1{
    border-top-left-radius: 1rem;
}
.subProjetos_1_FicharioTabelaTd2{
    border-top-right-radius: 1rem;
}
.subProjetos_1_FicharioTabelaTd11{
    border-bottom-left-radius: 1rem;
}
.subProjetos_1_FicharioTabelaTd12{
    border-bottom-right-radius: 1rem;
}
.subProjetos_1_Fichario button{
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff; /* Azul clássico */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.subProjetos_1_Fichario button:hover{
    background-color: #0056b3; 
}